---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url("https://fonts.googleapis.com/css?family=News+Cycle:400,700|Pontano+Sans&amp;subset=latin-ext");

$text-color: gray;
$base-font-family: 'News Cycle', sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$header-height:    56px;

$text-color:       #ddd;
$background-color: #111;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@import
        "reset",
        "github",
        "layout",
        "custom",
        "graph",
        "map"
;
