html, body { height: 100%; margin: 0; padding: 0; }

.whole_page {
  height: 500px;
  height: calc(100% - 56px);
}

.map {
  width: 100%;
  height: 100%;
  img {
    margin: 0;
    max-width: 739px;
    padding: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.popup {
  img { width: 120px; }
}

.site-title {
  line-height: $header-height;
}

.site-title {
  font-size: 24px;
  color: $text-color;
  &:visited { color: $text-color; }
}

.site-nav {
  color: $text-color;
  z-index: 2000;
  a {
    color: $text-color;
    &:visited { color: $text-color; }
  }
}

.trigger {
  & > ul {
    margin: 0;
    list-style: none;
    li {
      margin-right: 0;
      &:not(:last-child) {
        margin-right: 20px;
      }
      position: relative;
      .submenu {
        margin: 0;
        padding: 5px;
        list-style: none;
        display: none;
        position: absolute;
        top: 45px;
        right: 0px;
        width: 150px;
        border-radius: 5px;
        text-align: right;
        li {
          margin: 0;
          line-height: 1;
          .page-link {
          }
        }
      }
      &:hover {
        .submenu {
          display: inline-block;
        }
      }
    }
    & > li {
      display: inline-block;
    }
  }
}

@include media-query($on-palm) {
  .trigger {
    font-size: 20px;
    a {
      color: inherit;
      &:visited {
        color: inherit;
      }
    }
    ul {
      & > li {
        display: block;
      }
      li {
        margin-right: 10px !important;
        .submenu {
          font-style: italic;
          display: block;
          position: static;
          border: none;
        }
        &:hover .submenu {
          display: block;
        }
      }
    }
  }
}

.feedback-form {
  min-width: 760;
  height: 500;
}

.legend {
  background: white;
  border-radius: 5px;
  padding: 6px 10px 6px 6px;
  margin-bottom: 25px !important;
  box-shadow: 0 1px 5px rgba(0,0,0,0.4);
  h1 {
    font-size: 100%;
    margin: 0;
  }
  .legend-items {
    margin: 0;
    list-style: none;
    padding: 0;
    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }
  }
  svg {
    vertical-align: bottom;
  }
}
