html, body { height: 100%; margin: 0; padding: 0; }

#project_title { font-size: 28px; }

.header_wrap {
  height: 65px;
}

.whole_page {
  height: 100%;
  width: 100%;
  position: relative;
  top: -65px;
  margin-top: 65px;
  margin-bottom: -65px;
  .leaflet-bottom {
    bottom: 65px;
  }
}

.map {
  img {
    margin: 0;
    max-width: 739px;
    padding: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.popup {
  img { width: 120px; }
}
