html, body { height: 100%; margin: 0; padding: 0; }

.map {
  width: 100%;
  height: 500px;
  img {
    margin: 0;
    max-width: 739px;
    padding: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}

.popup {
  img { width: 120px; }
}
